nengo-service.json
[{"id":"fab2a41d.b06d18","type":"tab","label":"Flow 3"},{"id":"758f54a9.4b1724","type":"template","z":"fab2a41d.b06d18","name":"年号データ","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"2016-01-01\": \"元日\",\n    \"2016-01-11\": \"成人の日\",\n    \"2016-02-11\": \"建国記念の日\",\n    \"2016-03-20\": \"春分の日\",\n    \"2016-03-21\": \"春分の日 振替休日\",\n    \"2016-04-29\": \"昭和の日\",\n    \"2016-05-03\": \"憲法記念日\",\n    \"2016-05-04\": \"みどりの日\",\n    \"2016-05-05\": \"こどもの日\",\n    \"2016-07-18\": \"海の日\",\n    \"2016-08-11\": \"山の日\",\n    \"2016-09-19\": \"敬老の日\",\n    \"2016-09-22\": \"秋分の日\",\n    \"2016-10-10\": \"体育の日\",\n    \"2016-11-03\": \"文化の日\",\n    \"2016-11-23\": \"勤労感謝の日\",\n    \"2016-12-23\": \"天皇誕生日\",\n    \"2017-01-01\": \"元日\",\n    \"2017-01-02\": \"元日 振替休日\",\n    \"2017-01-09\": \"成人の日\",\n    \"2017-02-11\": \"建国記念の日\",\n    \"2017-03-20\": \"春分の日\",\n    \"2017-04-29\": \"昭和の日\",\n    \"2017-05-03\": \"憲法記念日\",\n    \"2017-05-04\": \"みどりの日\",\n    \"2017-05-05\": \"こどもの日\",\n    \"2017-07-17\": \"海の日\",\n    \"2017-08-11\": \"山の日\",\n    \"2017-09-18\": \"敬老の日\",\n    \"2017-09-23\": \"秋分の日\",\n    \"2017-10-09\": \"体育の日\",\n    \"2017-11-03\": \"文化の日\",\n    \"2017-11-23\": \"勤労感謝の日\",\n    \"2017-12-23\": \"天皇誕生日\",\n    \"2018-01-01\": \"元日\",\n    \"2018-01-08\": \"成人の日\",\n    \"2018-02-11\": \"建国記念の日\",\n    \"2018-02-12\": \"建国記念の日 振替休日\",\n    \"2018-03-21\": \"春分の日\",\n    \"2018-04-29\": \"昭和の日\",\n    \"2018-04-30\": \"昭和の日 振替休日\",\n    \"2018-05-03\": \"憲法記念日\",\n    \"2018-05-04\": \"みどりの日\",\n    \"2018-05-05\": \"こどもの日\",\n    \"2018-07-16\": \"海の日\",\n    \"2018-08-11\": \"山の日\",\n    \"2018-09-17\": \"敬老の日\",\n    \"2018-09-23\": \"秋分の日\",\n    \"2018-09-24\": \"秋分の日 振替休日\",\n    \"2018-10-08\": \"体育の日\",\n    \"2018-11-03\": \"文化の日\",\n    \"2018-11-23\": \"勤労感謝の日\",\n    \"2018-12-23\": \"天皇誕生日\",\n    \"2018-12-24\": \"天皇誕生日 振替休日\"\n}","output":"json","x":292.5,"y":162.5,"wires":[["80435628.a13dc8"]]},{"id":"80435628.a13dc8","type":"http response","z":"fab2a41d.b06d18","name":"","statusCode":"","headers":{},"x":382.5,"y":229,"wires":[]},{"id":"3f81fe74.974e7a","type":"http in","z":"fab2a41d.b06d18","name":"","url":"/api/v1/date.json","method":"get","upload":false,"swaggerDoc":"","x":146.5,"y":85.5,"wires":[["758f54a9.4b1724"]]}]
