nengo.json
[{"id":"329c34de.c6a9dc","type":"tab","label":"Flow 2"},{"id":"59bc688.c77f118","type":"inject","z":"329c34de.c6a9dc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":97.5,"y":64.5,"wires":[["1bcdcbf8.6eb274"]]},{"id":"1bcdcbf8.6eb274","type":"http request","z":"329c34de.c6a9dc","name":"","method":"GET","ret":"txt","url":"https://holidays-jp.github.io/api/v1/date.json","tls":"","x":248.5,"y":66.5,"wires":[["bc2febac.a1faa","b4fb7a75.33294"]]},{"id":"bc2febac.a1faa","type":"debug","z":"329c34de.c6a9dc","name":"Stringで","active":true,"console":"false","complete":"payload","x":406.5,"y":67,"wires":[]},{"id":"b4fb7a75.33294","type":"json","z":"329c34de.c6a9dc","name":"","pretty":false,"x":278.5,"y":133.5,"wires":[["da4ee4b0.db666","8de89107.568ec8"]]},{"id":"da4ee4b0.db666","type":"debug","z":"329c34de.c6a9dc","name":"Objectで","active":true,"console":"false","complete":"payload","x":420.5,"y":133,"wires":[]},{"id":"8de89107.568ec8","type":"debug","z":"329c34de.c6a9dc","name":"日付指定","active":true,"console":"false","complete":"payload.2016-01-01","x":423,"y":190,"wires":[]}]
