wc.json
[{"id":"388e0da1.69af62","type":"tab","label":"チャットサンプル","disabled":false,"info":""},{"id":"3dc964ac.6986dc","type":"websocket in","z":"388e0da1.69af62","name":"","server":"c50f098b.585448","client":"","x":111,"y":128,"wires":[["3d654950.562f6e"]]},{"id":"3d654950.562f6e","type":"function","z":"388e0da1.69af62","name":"for Broadcast","func":"delete msg._session;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":302,"y":129,"wires":[["b64417b7.e7a55"]]},{"id":"b64417b7.e7a55","type":"websocket out","z":"388e0da1.69af62","name":"","server":"c50f098b.585448","x":491,"y":133,"wires":[]},{"id":"929b478b.9d574","type":"http in","z":"388e0da1.69af62","name":"","url":"/chat","method":"get","swaggerDoc":"","x":107,"y":56,"wires":[["f3abaa.8b079c58"]]},{"id":"f3abaa.8b079c58","type":"template","z":"388e0da1.69af62","name":"CSS","field":"style","fieldType":"msg","format":"css","syntax":"mustache","template":"  * {\n    font-family: \"Palatino Linotype\", \"Book Antiqua\", Palatino, serif;\n    font-size: 24px;\n  }\n\n  html, body, #wrapper {\n    margin: 0;\n    padding: 0;\n    height: 100%;\n  }\n\n  #wrapper {\n    background-color: #ecf0f1;\n  }\n\n  #chat_box {\n    box-sizing: border-box;\n    height: 100%;\n    overflow: auto;\n    padding-bottom: 50px;\n  }\n\n  #footer {\n    box-sizing: border-box;\n    position: fixed;\n    bottom: 0;\n    height: 50px;\n    width: 100%;\n    background-color: #2980b9;\n  }\n\n  #footer .content {\n    padding-top: 4px;\n    position: relative;\n  }\n\n  #user { width: 20%; }\n  #message { width: 68%; }\n  #send_btn {\n    width: 10%;\n    position: absolute;\n    right: 0;\n    bottom: 0;\n    margin: 0;\n  }\n\n  .content {\n    width: 70%;\n    margin: 0 auto;\n  }\n\n  input[type=\"text\"],\n  input[type=\"button\"] {\n    border: 0;\n    color: #fff;\n  }\n\n  input[type=\"text\"] {\n    background-color: #146EA8;\n    padding: 3px 10px;\n  }\n\n  input[type=\"button\"] {\n    background-color: #f39c12;\n    border-right: 2px solid #e67e22;\n    border-bottom: 2px solid #e67e22;\n    min-width: 70px;\n    display: inline-block;\n  }\n\n  input[type=\"button\"]:hover {\n    background-color: #e67e22;\n    border-right: 2px solid #f39c12;\n    border-bottom: 2px solid #f39c12;\n    cursor: pointer;\n  }\n\n  .system,\n  .username {\n    color: #aaa;\n    font-style: italic;\n    font-family: monospace;\n    font-size: 16px;\n  }\n\n  @media(max-width: 1000px) {\n    .content { width: 90%; }\n  }\n\n  @media(max-width: 780px) {\n    #footer { height: 91px; }\n    #chat_box { padding-bottom: 91px; }\n\n    #user { width: 100%; }\n    #message { width: 80%; }\n  }\n\n  @media(max-width: 400px) {\n    #footer { height: 135px; }\n    #chat_box { padding-bottom: 135px; }\n\n    #message { width: 100%; }\n    #send_btn {\n      position: relative;\n      margin-top: 3px;\n      width: 100%;\n    }\n  }","output":"str","x":254,"y":56,"wires":[["fa37aefd.fc40e8"]]},{"id":"a9a443aa.14ad78","type":"http response","z":"388e0da1.69af62","name":"","x":696,"y":56,"wires":[]},{"id":"fa37aefd.fc40e8","type":"template","z":"388e0da1.69af62","name":"script","field":"script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"  var wsUri = \"ws://{{req.headers.host}}/ws/chat\";\n  var ws = new WebSocket(wsUri);\n\n  function createSystemMessage(message) {\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.className = 'system';\n\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  function createUserMessage(user, message, ts) {\n    var user = document.createTextNode(user + ': ');\n\n    var userBox = document.createElement('span');\n    userBox.className = 'username';\n    userBox.appendChild(user);\n\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.appendChild(userBox);\n    messageBox.appendChild(message);\n    \n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  ws.onopen = function(ev) {\n    createSystemMessage('[Connected]');\n  }\n\n  ws.onclose = function(ev) {\n    createSystemMessage('[Disconnected]');\n  }\n\n  ws.onmessage = function(ev) {\n    var payload = JSON.parse(ev.data);\n    createUserMessage(payload.user, payload.message, payload.ts);\n\n    var chat = document.getElementById('chat_box');\n    chat.scrollTop = chat.scrollHeight;\n  }\n  \n  function sendMessage() {\n    var user = document.getElementById('user');\n    var message = document.getElementById('message');\n\n    var payload = {\n      message: message.value,\n      user: user.value,\n    };\n\n    ws.send(JSON.stringify(payload));\n    message.value = \"\";\n  }\n  \n\n","output":"str","x":385,"y":56,"wires":[["76219550.78804c"]]},{"id":"76219550.78804c","type":"template","z":"388e0da1.69af62","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<head>\n  <meta name=\"viewport\" content=\"width=320, initial-scale=1\">\n  <title>Chat</title>\n</head>\n\n<body>\n  <div id=\"wrapper\">\n    <div id=\"chat_box\" class=\"content\"></div>\n\n    <div id=\"footer\">\n      <div class=\"content\">\n        <input type=\"text\" id=\"user\" placeholder=\"お名前\" />\n        <input type=\"text\" id=\"message\" placeholder=\"発言\" />\n        <input type=\"button\" id=\"send_btn\" value=\"Send\" onclick=\"sendMessage()\">\n      </div>\n    </div>\n  </div>\n</body>\n\n<script type=\"text/javascript\">\n{{{script}}}\n</script>\n\n<style type=\"text/css\">\n{{{style}}}\n</style>\n","output":"str","x":537,"y":56,"wires":[["a9a443aa.14ad78"]]},{"id":"f76067f9.9f3f5","type":"comment","z":"388e0da1.69af62","name":"SSLの場合はwss:// 非SSLの場合はws://","info":"","x":483.5,"y":23.5,"wires":[]},{"id":"c50f098b.585448","type":"websocket-listener","path":"/ws/chat","wholemsg":"false"}]
